#attributeManager {
	margin:10px 0px 10px 0px;
  position: relative;
	min-width: 1100px;
}
#attributeManager #attributeManagerAll {
border:1px solid #ccc;
}
#attributeManager td,div {
	font-family:'Trebuchet MS' Arial;
	font-size:12px;
}

#attributeManager tr.header {
	background:#ddd;
}

#attributeManager tr.header td{
	font-weight:bold;
	font-size:13px;
	padding:5px 0px 5px 0px;
}

#attributeManager tr.option {
	background:#eee;
	
}
#attributeManager tr.option td {
	border-top:1px solid #ccc;
}

#attributeManager tr.optionValue {
	background:#fff;
}

#attributeManager tr.optionValue td{
	border-top:1px dotted #ccc;
}

#attributeManager tr.optionValue td td{
	border:0px;
}

#attributeManager div#title {
	background:#ccc;
}
#attributeManager div#title td {
	font-weight:bold;
	font-size:12px;
}

#attributeManager div#newAttribute {
	background:#ddd;
}
#attributeManager  div#newAttributeTitle{	
	font-weight:bold;
	font-size:12px;	
	padding:5px;
	background:#ddd;
}
#attributeManager div.optionValueAddDelete {
	margin-top:5px;
}
#attributeManager div#newAttribute {
border-top:1px solid #ccc;
}

#attributeManager div#newProductStockValue {
	background:#ddd;
}
#attributeManager  div#newProductStockValueTitle{	
	font-weight:bold;
	font-size:12px;	
	padding:5px;
	background:#ddd;
}
#attributeManager div#newProductStockValue {
border-top:1px solid #ccc;
}

#blackout {
	position: absolute;
	background-color: #fff;  /* the background          */
    filter:alpha(opacity=50);   /* Internet Explorer       */
    -moz-opacity:0.5;           /* Mozilla 1.6 and below   */
    opacity: 0.8;               /* newer Mozilla and CSS-3 */
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#popupShaddow {
	filter:alpha(opacity=100); 
	-moz-opacity:1.0;
	opacity: 1.0; 
	position: absolute;
	z-index:205;
	background:  url(../images/shadow.gif) no-repeat bottom right;
}

#popupContents {
	position: absolute;
  left:50%;
  top:50%;
  margin-left:-200px;
  margin-top:-44px;
	background-color: #eee;
	border:1px solid #bbb;
	z-index:206;
	
}

#popupHeading {
	background:#ccc;
	padding:5px;
	font-weight:bold;
}

#popupContainer {
	margin:10px 10px 10px 10px;
	text-align:center;
width:350px;
}
#attributeManager div#templates {

}

#attributeManager .amSubmitButton {

	padding-left: 10px;
	padding-right: 10px;
	height: 20px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	background-color: #ccc;
	background:  url(../images/buttonface.gif) repeat-x top left;
}

#attributeManager .amFieldset {
	vertical-align: middle;
	clear:both;
}

#attributeManager .amFieldLabel {
	padding-top: 5px;
	text-align:left;
	width: 100px;
	height: 100%;
	vertical-align:middle;
	float:left;
}

#attributeManager .amField {
	text-align:left;
	margin-left: 100px;
	width:250px;
}

#attributeManager .popupFooter {
	text-align:right;
	padding: 10px;
	border-top: 1px solid #ccc;
}

#attributeManager .optionDropDown{
	width: 150px;
}

#attributeManager .optionValueDropDown {
	width: 100px;
}

#attributeManager .newOptionPanel-header{
	padding: 10px 20px;
	text-align:left;
	font-weight:bold;
	border-bottom: 1px solid #ccc;
}

#attributeManager .newOptionPanel-label{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
}

#attributeManager .newOptionPanel-button{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

#attributeManager #currentAttributes td:first-child{
	padding-left: 20px;
}

#attributeManager #currentAttributes .option>td:nth-child(1), #attributeManager #currentAttributes .option>td:nth-child(2){
	padding-top: 4px;
}
#attributeManager #currentAttributes .option>td:nth-child(2){
	padding-top: 8px;
}

#new_attribute_panel>tbody>tr>td:first-child{
	width:	29%;
}

#new_attribute_panel>tbody>tr>td:nth-child(2){
	width:	21%;
}

#new_attribute_panel>tbody>tr>td:nth-child(3){
	width:	12%;
}

#new_attribute_panel>tbody>tr>td:nth-child(4){
	width:	11%;
}

#new_attribute_panel>tbody>tr>td:nth-child(5){
	width:	14%;
}
#popupContainer table tr td img {
    margin-right: 5px;
    width: 20px;
    height: 15px;
}