/*modal-header - START ===============================================================================================*/

.product_modal {
    overflow-y: hidden!important;
}

.product_modal .modal-content {
    /*max-height: 500px;*/
    border: 1px solid #eee;
}

.product_modal .modal-header {
    padding: 12px;
    display: flex;
    align-items: center;
}

.product_modal .modal-header .modal-title {
    display: flex;
    align-items: center;
}

.product_modal .modal-header .close {
    float: unset;
    order: 3;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.freeShipping {
    background: rgba(8, 181, 81, 0.2);
    font-family: Roboto, Sans-Serif;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 3px;
    margin-left: 10px;
    font-weight: 500;
    line-height: normal;
    color: #08b551;
}

/*modal-header - FINISH ==============================================================================================*/

/*modal-body - START =================================================================================================*/
.product_modal .modal-body {
    padding: 0;
}

.productModalWrapper {
    display: grid;
    /*grid-template-columns: 400px 330px 409px;*/
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
}

/*slider*/

.productModal-slider {
    padding: 20px;
}

.label-wrapper {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.productModal-label {
    border-radius: 2px;
    display: inline-block;
    padding: 3px 6px;
    color: #fff;
    margin-bottom: 5px;
}

.productModal-label:last-child {
    margin-bottom: 0;
}

.label-top {
    background: #007bff;
}

.label-discount {
    background: #f3074a;
}

.label-new {
    background: #08b551;
}

.productModal-slider .oneItemSlider {
    height: auto !important;
    /*margin-top: 70px;*/
    padding: 0 20px;
}
.productModal-slider #sync3 img {
    width: 360px;
}
.productModal-slider .sync1-item {
    min-height: 360px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

.productModal-slider .sync1-item img {
    object-fit: cover;
    display: block !important;
}

.productModal-slider .sync2-item {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

.productModal-slider .sync2-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.productModal-slider .current .sync2-item {
}

.productModal-slider .owl-nav .owl-next {
    right: -50px;
}

.productModal-slider .owl-nav .owl-prev {
    left: -50px;
}

.productModal-slider #sync3 .owl-nav .owl-next {
    right: -6px;
}

.productModal-slider #sync3 .owl-nav .owl-prev {
    left: -6px;
}

.synchronizedSlider {
    max-width: 250px;
    margin: 20px auto 0 auto;
}

.product_modal .owl-theme .owl-controls {
    margin-top: 0;
}

.product_modal .owl-dot {
    display: none;
}

/*slider - end*/

/*price and characteristics*/

.productModal-middleBlock {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    height: fit-content;
    max-height: 449px;
}

.productModal-middleBlock-price {
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.productModal-middleBlock .actualPrice {
    font-family: Roboto, Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #42484d;
    position: relative;
    margin-bottom: 10px;
}

.productModal-middleBlock .actualPrice:before {
    content: attr(data-oldPice);
    display: block;
    text-decoration: line-through;
    font-family: Roboto, Sans-Serif;
    font-size: 12px;
    line-height: 1;
    color: #da738a;
}

.add2cart-wrapper {
    display: flex;
}

.add2cart-wrapper input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3ca00;
    padding: 7px 11px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    width: 4em;
    border-radius: 3px 0 0 3px;
}

.add2cart-wrapper #modal_qty_input::-webkit-outer-spin-button, .add2cart-wrapper #modal_qty_input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.productModal-middleBlock-price .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background: #ffd400;
    padding: 7px 10px;
    border-radius: 0 3px 3px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
}

.productModal-middleBlock-price .buy_one_click {
    white-space: nowrap;
    font-family: Roboto, Sans-Serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    color: #6c757d;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e9ebed;
    background-color: #fff;
    padding: 8px 5px;
}

.productModal-middleBlock-color {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px;
}

.productModal-middleBlock-color .attr_select {
    margin: 0;
}

.productModal-middleBlock-color .prod_options tbody > tr {
    display: flex;
    flex-direction: column;
}

.productModal-middleBlock-color .prod_options tbody > tr td {
    padding: 0;
}

.productModal-middleBlock-color .prod_options tbody > tr td:first-child {
    padding-bottom: 10px;
}

.productModal-middleBlock .prod_options td {
    border: none;
}

.productModal-middleBlock-last {
    height: 235px;
    overflow-y: auto;
    padding: 20px;
}
.productModal-middleBlock-last p {
    font-size: 14px;
    line-height: 1.2;
}
.productModal-middleBlock-last::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.productModal-middleBlock-last::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bababf;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.productModal-middleBlock-characteristics {
    padding-bottom: 7px;
}

.productModal-middleBlock-characteristics .characteristic-name {
    font-family: Roboto, Sans-Serif;
    font-size: 13px;
    line-height: normal;
    color: #7a7e82;
    margin-bottom: 5px;
}

.characteristic-value {
    font-family: Roboto, Sans-Serif;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: #42484d;
    margin-bottom: 10px;
}

/*price and characteristics - end*/

/*desc*/

.productModal-desc {
    padding-bottom: 7px;
}

.productModal-desc .tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, auto));
    border-bottom: 1px solid #eee;
}

.productModal-desc .tabs a {
    text-decoration: none;
}

.productModal-tabItem {
    font-family: Roboto, Sans-Serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: rgba(66, 72, 77, 0.7);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.productModal-tabItem_active {
    background: #f0f1f2;
    text-decoration: none;
}

.productModal-tabItem:hover {
    background: #eee;
    text-decoration: none;
}

.productModal-tabItem:checked {
    text-decoration: none;
}

.productModal-tabContent-Item {
    padding: 20px 20px 0 20px;
    display: none;
    font-size: 16px;
    line-height: 1.2;
    height: 400px;
    overflow-y: auto;
}

.productModal-tabContent-Item .add-comment-row {
    margin: 0;
}

.productModal-tabContent-Item .add-comment-row .comment-skin-body {
    padding: 0;
}

.productModal-tabContent-Item::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.productModal-tabContent-Item::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bababf;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.productModal-tabContent-Item .char-left, .productModal-tabContent-Item .char-right {
    font-size: 1em;
}

.productModal-tabContent-Item_active {
    display: block;
}

.productModal-tabContent-Item .pag_header {
    margin: 0;
    padding: 0 5px 5px 5px;
}

.productModal-tabContent-Item .char {
    padding: 5px 0 0 0;
}

.productModal-tabContent-Item .reviews_container {
    margin: 0;
}

.productModal-tabContent-Item .comment-skin-body {
    width: 100%;
}
body #sync3 {
    display: block;
    height : 421px;
}
#sync3 .item {
    height: 421px;
    line-height: 421px;
    text-align: center;
}
#sync3 img {
    /*width:auto;*/
    max-height:100%;
    max-width:100%;
    display:inline;
}
@media print {
    #sync3 .item a {
        display: block;
        text-align: center;
        height: inherit;
        width: 100%;
    }
}
@media (max-width: 480px) {
    #sync3 .item {
        height      : 250px;
        line-height : 250px;
    }
    body #sync3 {
        height: 250px;
    }

}

/*desc*/

/*modal-body - FINISH ================================================================================================*/



