# Шаблон блока вывода комментариев
#{$names} - Имя пользователя
#{$comment_msg} - Текст комментария
#{$date} - Дата размещения комментария
#{$divonter} - Система многоуровневых комментариев
#{$scravatar} - Аватар
#{$ratingcomment} - Рейтинга

<div class="comment clearfix" style="margin-left:{$commentpx}px;">
  <div class="comment_top clearfix">
    <div class="comment_head left" style="width:65%;">
      {$scravatar} <span class="comment_author"><b>{$names}</b></span> {$icoservice} <br />
      <span class="comment_date">{$date}</span>
    </div>
    <div class="likes right">
      {$ratingcomment}
    </div>
  </div> <!-- //comment_top -->
  <div class="clear"></div>
  <div class="comment_text left">{$comment_msg}

    <div class="clear"></div>
    <div >{$divonter}</div>
  </div>
</div>

