.checkout .form-control[disabled], .checkout .form-control[readonly], .checkout fieldset[disabled] .form-control {
  cursor: default;
  background-color: #fff;
  opacity: 1;
}

.checkout {
  width: 100%;
  display: inline-block;
  margin: 12px 0 0 0;
  background-color: var(--sm-background);
}

.checkout .tab-pane {
  padding:15px 0 0 0;
}

.checkout:hover {
  text-decoration: none;
}

.checkout > span {
  border-bottom: 1px dashed transparent;
}

.checkout:hover > span {
  border-bottom: 1px dashed #777;
}
/* CHECKOUT */

#checkoutButtonContainer {
  padding: 20px 0;
}
#checkoutButton.unactive {
    background-color: gray;
}
.checkout .table>tbody>tr>td,
.checkout .table>tbody>tr>th,
.checkout .table>tfoot>tr>td,
.checkout .table>tfoot>tr>th,
.checkout .table>thead>tr>td,
.checkout .table>thead>tr>th {
  border-top:0;
  padding: 3px 0;
}

.checkout_userlogin_form {
  margin-bottom: 20px;
}
.checkout .login_page_soc {
  width: 90%;
  margin: 0 auto;
}


.login_page_soc h2 {
  margin-top: 0;
}
.checkout_userlogin_form label {
  width: 60px;
  display: inline-block;

}
.login_page_soc {
  background: #44ADEF;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
}
.login_page_soc a {color: #fff;font-size: 16px;}
.login_page_soc a:hover {text-decoration: underline;}

.checkout__cart_item {
  position: relative;
  margin-bottom: 20px;
}

.checkout_form h3 {
  min-height:34px;
}

.checkout .form-group {
  position: relative;
  margin: 5px 0;
}
.orderTotals {text-align:center;}
.orderTotals tr:last-child {font-size: 18px;}
.orderTotals tr:last-child td:last-child {
  color: var(--sm-text-color);
  font-size: 20px;
}
.orderTotals i {color:#aaa;}
.checkout .form-control[disabled], .checkout .form-control[readonly], .checkout fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
  box-shadow: none;

}
.checkout .checkout_inputs.success {
  border-color: green;
}

.checkout .checkout_inputs {
  border-radius: 4px;
  margin: 0;
}
.checkout button {
  min-width: 250px;
  height:35px;
  border-radius:5px;
}

.checkout button.delete {
    min-width: unset;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    outline:0!important;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.checkout button.delete svg {
  fill: #fff;
  margin-top:-1px;
}
.checkout .btn-default {
  background: var(--sm-link-color);
  color: #fff;
}
.checkout .btn-default:hover { color: #fff; background: var(--sm-btn-color) }
.checkout .required_icon, .checkout .error_icon, .checkout .success_icon {
  position: absolute;
  right: 7px;
  top: 12px;
  font-size: 9px;
  max-width: 200px;
  text-align: right;
  z-index: 100;
}
.checkout .error_icon {
  color:#f24c4c;
}
.checkout .required_icon svg {
  fill:#777;
  font-size: 7px;
}
.checkout .error_icon svg {
  fill:#f24c4c;
  font-size: 9px;
}
.checkout .success_icon svg {
  fill:#54af28;
  font-size: 9px;
}

#modal_getLoginForm {
  overflow-y: hidden;
}
.checkout_title {
  position: relative;
  height: 38px;
  line-height: 38px;
}
.checkout_title a {
  outline: none !important;
  border-right: 0;
  box-shadow: none;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  background: #EDEDED;
  font-weight: 700;
  font-family: Arial, 'Helvetica CY', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--sm-text-color);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  text-decoration: none;
}
.checkout_title a:hover, .checkout_title a:focus, .checkout_title a:active {
  background: #EDEDED;
}
.checkout_title .checkout_authorization {
  color: #fff;
  background: var(--sm-link-color);
  border: 0;
}
.checkout_title .checkout_authorization:hover, .checkout_title .checkout_authorization:focus, .checkout_title .checkout_authorization:active {
  background: var(--sm-btn-color);
  color: #fff;
}
.checkout-enter_window .social_header_facebook {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 14px;
  background: #4862a3;
  color: #fff;
  padding: 0;
}
.checkout-enter_window .social_header_google{
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 14px;
  background: #eee;
  color: #000;
  padding: 0;
}

.checkout-enter_window .social_header_google:hover,.checkout-enter_window .social_header_facebook:hover{
  text-decoration: none;
  background: #aaa;
}
.checkout-enter_window .social_header_facebook .fa {
  font-size: 17px;
  margin: 0 8px 0 0;
}
.checkout-enter_window .social_header_facebook svg,.checkout-enter_window .social_header_google svg{
  margin: 0 8px 0 0;
}
.checkout-enter_window > .or {
  margin: 0 0 10px 0;
  overflow: hidden;
  text-align: center;
}
.checkout-enter_window > .or:before, .checkout-enter_window > .or:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #ccc;
  border: solid #fff;
  border-width: 0 10px;
}
.or:before {
  margin-left: -100%;
}
.or:after {
  margin-right: -100%;
}
.checkout-enter_window .form_enter {
  margin: 0;
  width: 100%;
}
.checkout-enter_window .form_enter .fa {
  width: 40px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-right: -40px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  float: left;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 4px 0 0 4px;
  color: #575955;
}
.checkout-enter_window .form_enter span {
  width: 40px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-right: -40px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  float: left;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 4px 0 0 4px;
}
.checkout-enter_window .form_enter svg {
  fill:#575955;
  width: 15px;
  height: 15px;
}
.checkout-enter_window .form_enter input {
  margin: 0 0 15px;
  padding:0 15px 0 50px;
}
.checkout-enter_window .password_enter {
  border-right: 1px solid #ccc;
  width: 100%;
  margin: 0 0 6px!important;
}
.checkout-enter_window .forget_password {
  text-align: right;
  float: right;
  margin: 0 0 20px;
  color: #464646;
  text-decoration: underline;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  background: transparent;
}
.checkout-enter_window .forget_password:hover, .checkout-enter_window .forget_password:focus, .checkout-enter_window .forget_password:active {
  background: transparent;
  color: var(--sm-text-color);
}
.checkout-enter_window .submit_enter {
  width: 100%;
  margin: 0 0 11px;
  border-radius: 4px;
  background: #6cb834;
}
.checkout-enter_window .registration {
  margin: 0 auto;
  text-transform: uppercase;
  font: 400 10px 'Montserrat-Regular';
  color: #464646;
}
.checkout_form h3 {
  width: 100%;
}
#billingAddress, #shippingAddress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-group, #shippingAddress .choose_modal {
  flex-basis: 48%;
}
.choose_modal {
  padding: 7px 9px;
}

.form-group.shipping_company-block, #billingAddress .choose_modal {
  flex-basis: 100%;
}

.checkout button {
  min-width: unset;
}
.checkout .checkout_inputs:focus ~.error_icon {
  display: none!important;
}
.checkout .error_icon {
  background:#fff;
  left: 11px;
  pointer-events: none;
  transform: translateY(-50%);
  top: 50%;
  height: 23px;
}
#email_error {
  font-size: 12px;
  line-height: 15px;
  display: block;
  margin-bottom: -5px;
}
.checkout_inputs input[type="select-one"] + .success_icon {
  display: none!important;
}
.fulllength {
  border: 1px solid #ccc;
}
@media (max-width: 767px) {
  .checkout .error_icon {
    text-align: left;
    line-height: 7px;
    /* top: 5px; */
    left: 5px;
    right: 5px;
  }
}
