.ac_results{
  background-color: white;
}
.ac_results>ul>li{
  padding: 10px;
}
.ui-menu-item a {
  display:block;
  clear:both;
  line-height:54px;
  padding:0 10px;
}

  .ui-menu-item img {
    width:40px; 
    max-height:40px; 
  }
  
  .ui-menu-item .ac_cat {
    color:#888;
    font-size:10px; 
  }
  
  .ui-menu-item .ac_name {
    width:500px;
    padding-left:10px;  
    overflow:hidden;
    font-size:12px;  
    line-height: 1.3;
  }  
  
  .ui-menu-item .ac_price {
    float:right; 
    line-height:44px;
    font-weight:bold;
  }
  
  .ui-menu-item a * {
    display:inline-block;
    vertical-align:middle;
  }  
