#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left_col, .header_right_col {
    padding: 0;
}
.table_cat_page .cat_top_form select,
.table_cat_page .cat_top_form input {
    width: 170px;
}
.table_cat_page #filter_form .filter_form_span {
    font: 400 11px 'Roboto', sans-serif;
    padding-right: 15px;
    padding-left: 18px;
}
.table_cat_page #filter_form .filter_form_span > span {
    line-height: 1.4;
}
.table_cat_page #filter_form .filter_form_span input[type="checkbox"] + span:before {
    width: 14px;
    height: 14px;
    line-height: 1.3;
}
.navi ul.nav li a .new_badge {
    top: 14px;
    right: 14px;
}
.app-aside-dock .app-aside .navi > ul > li > a > svg {
    margin-bottom: 0;
}
/*.app-aside-dock .app-aside .navi > ul > li .nav-sub {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
.app-aside-dock .app-aside .navi > ul > li .nav-sub:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 27px;
    top: 46px;
    width: 2px;
    height: calc(100% - 62px);
    background: #343642;
    z-index: 2;
}
.app-aside-dock .app-aside .navi li li a {
    position: relative;
    z-index: 1;
}
.app-aside-dock .app-aside .navi li li a:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 29px;
    top: 18px;
    width: 10px;
    height: 2px;
    background: #343642;
    z-index: 1;
}
/**** .tooltip-left_menu ****/
.tooltip-left_menu .tooltip-left_menu-text {
    display: none;
}
.collapse-menu .tooltip-left_menu {
    position: relative;
    display: inline-block;
}
.collapse-menu .tooltip-left_menu .tooltip-left_menu-text {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: fixed;
    z-index: 100;
    margin-top: 10px;
    margin-left: 70px;
    visibility: hidden;
    display: inline-block;
}
.collapse-menu .item-menu:hover .tooltip-left_menu-text {
    visibility: visible;
}
.collapse-menu .tooltip-left_menu .tooltip-left_menu-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/**************************************/
@media (min-width: 992px) {
    .navbar-header {
        width: 135px;
    }
    #header > .fix-width {
        padding-left: 27px;
    }
    .nav.navbar-nav.navbar-right.padder-md.no-padder-l {
        padding: 0;
    }
    .nav.navbar-nav.navbar-right.padder-md.no-padder-l > li:last-of-type>a {
        padding-right: 0;
    }
    .app-aside-dock.app-aside-fixed.app-header-fixed {
        padding-top: 50px;
    }

    .app-aside-dock .app-content,
    .app-aside-dock .app-footer {
        margin-left: 50px!important;
    }
    .navbar-collapse {
        margin-left: 135px!important;
    }
    .app-aside-right {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    .app-aside-right.pos-fix {
        z-index: 1010;
    }
    .app-aside-fixed .app-aside:before {
        position: fixed;
    }
    .app-aside-fixed .app-header .navbar-header {
        position: fixed;
    }
    .app-aside-fixed .aside-wrap {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background-color: #2d3343;
        max-width: 60px!important;
        overflow: hidden;
        transition: max-width 0.3s;
    }
    .app-aside-fixed .aside-wrap:hover {
        max-width: 230px!important;
        transition: max-width 0.3s;
    }
    .app-aside-fixed .aside-wrap .navi-wrap {
        padding: 0;
        position: relative;
        height: 100%;
        overflow-x: hidden!important;
        /*overflow-y: scroll!important;*/
        -webkit-overflow-scrolling: touch;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar:vertical {
        width: 5px;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar-thumb{
        background-color: #b4b6bd;
    }
    .app-aside-fixed .aside-wrap .navi-wrap > * {
        width: 230px!important;
    }
    .app-aside-fixed.app-aside-folded .app-aside {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1010;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap {
        width: 59px;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
        width: 77px;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap > * {
        width: 60px;
    }
    .smart .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
        width: 60px;
    }
    .bg-auto:before {
        content: none;
    }
    .hbox-auto-sm {
        display: table;
    }
    .hbox-auto-sm > .col {
        /*display: block;*/
        /*width: auto;*/
        /*height: auto;*/
    }
    .hbox-auto-sm > .col.show {
        display: block !important;
    }
    .hbox-auto-sm .vbox {
        height: auto;
    }
    .hbox-auto-sm .cell-inner {
        position: static !important;
    }
    footer {
        margin-left: 50px;
    }
    footer.panel-footer {
        margin-left: 0;
    }
    .app-aside-dock .app-aside .navi > ul {
        display: block;
        padding: 0 0 75px;
    }
    .app-aside-dock .app-aside .navi > ul > li {
        display: block;
        float: left;
        width: 100%;
    }
    .app-aside-dock .app-aside .navi > ul > li.hidden-folded {
        padding-left: 50px;
    }
    .app.container .app-aside {
        overflow-x: hidden;
    }
    .app.container.app-aside-folded .app-aside {
        overflow-x: visible;
    }
    .app.container.app-aside-fixed .aside-wrap {
        left: inherit;
    }
    .app.container.app-aside-fixed.app-aside-folded .app-aside > ul.nav {
        position: absolute;
    }
    .active > .nav-sub, .app-aside-folded li:hover > .nav-sub, .app-aside-folded li:focus > .nav-sub, .app-aside-folded li:active > .nav-sub {
        height: auto !important;
        margin-left: 0;
        overflow: auto;
        opacity: 1;
    }
    .app-aside-dock .app-aside .navi > ul > li a {
        color: #fff;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub {
        width: 230px;
        position: unset;
        display: none;
        max-width: 100%;
        font-size: 13px;
        height: auto !important;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .navi ul.nav li a {
        padding: 10px 20px;
    }
    .app-aside-dock .app-aside .navi li li a {
        padding:0 0 0 50px;
        height: 36px;
    }
    .app-aside-dock .app-aside .navi > ul > li > a > i,
    .app-aside-dock .app-aside .navi > ul > li > a > svg {
        position: relative;
        float: left;
        width: 50px;
        overflow: hidden;
        text-align: center;
    }
    .app-aside-dock .app-aside .navi > ul > li > a {
        text-align: left;
        padding: 0;
        height: 46px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .app-aside-dock .app-aside .navi > ul > li.active > a,
    .app-aside-dock .app-aside .navi > ul > li .nav-sub {
        background: #1d202d;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub > li.active > a {
        background: #0a0c12;
    }
    .container {
        max-width: 100%;
    }
    .app-aside-dock .app-aside .hidden-folded, .app-aside-dock .app-aside .line, .app-aside-dock .app-aside .navi-wrap > div {
        display: block !important;
    }
    .app-aside-dock .app-aside .navi > ul > li > a > span {
        font-weight:500;
        font-size: 15px!important;
        line-height: normal;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub li > a > span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        font-size: 13px!important;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub li > a > span > i {
        width: 12px;
        height: 12px;
        opacity: 0.3;
        color: #fff;
    }
    .app-aside-dock .app-aside .navi li:hover > .nav-sub {
        display: none;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub li:last-of-type > a > span {
        border-bottom: none;
    }
}

@media (min-width: 1500px) {
    .navbar-brand {
        padding: 0 13px;
    }
    .app-aside-dock.app-aside-fixed.app-header-fixed {
        padding-top: 50px;
    }
    .navbar-collapse,
    .app-aside-dock .app-footer {
        margin-left: 200px!important;
    }
    .app-aside-dock .app-content {
        margin-left: 45px!important;
    }
    .app-aside-right {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    .app-aside-right.pos-fix {
        z-index: 1010;
    }
    .app-aside-fixed .app-aside:before {
        position: fixed;
    }
    .app-aside-fixed .app-header .navbar-header {
        position: fixed;
    }
    .app-aside-fixed .aside-wrap {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 195px!important;
        max-width: 200px!important;
        overflow: hidden;
    }
    .app-aside-fixed .aside-wrap .navi-wrap {
        position: relative;
        max-width: 279px!important;
        height: 100%;
        overflow-x: hidden!important;
        /*overflow-y: scroll!important;*/
        -webkit-overflow-scrolling: touch;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar {
       /* -webkit-appearance: none;*/
        width: 6px;
    }

    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar-track {
        background: none;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar:vertical {
        width: 6px;
    }
    .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar-thumb{
        background-color: #898b92;
        border-radius: 6px;
    }
    .app-aside-fixed .aside-wrap .navi-wrap > * {
        width: 195px!important;
    }
    .smart .app-aside-fixed .aside-wrap .navi-wrap {
        width: 195px!important;
        padding: 0;
    }
    .app-aside-fixed.app-aside-folded .app-aside {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1010;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap {
        width: 59px;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
        width: 77px;
    }
    .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap > * {
        width: 60px;
    }
    .smart .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
        width: 60px;
    }
    .bg-auto:before {
        content: none;
    }
    .hbox-auto-sm {
        display: block;
    }
    .hbox-auto-sm > .col {
        display: block;
        width: 100%;
        float: left;
        /*margin: 0 20px 0 -20px;*/
        /*width: auto;*/
        /*height: auto;*/
    }
    .hbox-auto-sm > .col#aside {
        width: 280px;
    }
    .hbox-auto-sm > .col:nth-of-type(2) {
        width: calc(100% - 280px);
    }
    .hbox-auto-sm > .col.show {
        display: block !important;
    }
    .hbox-auto-sm .vbox {
        height: auto;
    }
    .hbox-auto-sm .cell-inner {
        position: static !important;
    }
    footer {
        margin-left:45px;
    }
    .app-aside-dock .app-aside .navi > ul {
        display: block;
    }
    .app-aside-dock .app-aside .navi > ul > li {
        display: block;
        float: left;
        width: 100%;
    }
    .app.container .app-aside {
        overflow-x: hidden;
    }
    .app.container.app-aside-folded .app-aside {
        overflow-x: visible;
    }
    .app.container.app-aside-fixed .aside-wrap {
        left: inherit;
    }
    .app.container.app-aside-fixed.app-aside-folded .app-aside > ul.nav {
        position: absolute;
    }
    .active > .nav-sub, .app-aside-folded li:hover > .nav-sub, .app-aside-folded li:focus > .nav-sub, .app-aside-folded li:active > .nav-sub {
        height: auto !important;
        margin-left: 0;
        overflow: auto;
        opacity: 1;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub {
        position: unset;
        display: none;
        max-width: 100%;
        font-size: 13px;
        height: auto !important;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .navi ul.nav li a {
        padding: 10px 20px;
    }
    .app-aside-dock .app-aside .navi li li a {
        padding:0 0 0 50px;
    }
    .app-aside-dock .app-aside .navi > ul > li > a > i {
        position: relative;
        float: left;
        width: 40px;
        overflow: hidden;
        line-height: 40px;
        text-align: center;
    }
    .app-aside-dock .app-aside .navi > ul > li > a {
        text-align: left;
    }
    .container {
        max-width: 100%;
    }
    .app-aside-dock .app-aside .hidden-folded, .app-aside-dock .app-aside .line, .app-aside-dock .app-aside .navi-wrap > div {
        display: block !important;
    }

    .app-aside-dock .app-aside .navi li:hover > .nav-sub {
        display: none;
    }
}
@media (min-width: 1600px) {
    .fix-width {
        max-width:1170px;
    }
    .container{
        width:1170px!important;
    }
    .app-aside-dock .app-content, #footer {
        margin-left: 280px!important;
    }
    .app-aside-fixed .aside-wrap .navi-wrap > * {
        width: 280px!important;
    }
    .smart .app-aside-fixed .collapse-menu .aside-wrap .navi-wrap,
    .app-aside-dock .app-aside .navi > ul > li .nav-sub {
        width: 280px!important;
    }
    .app-aside-fixed .aside-wrap, .app-aside-fixed .aside-wrap:hover {
        width: 280px!important;
        max-width: 280px!important;
    }
    .app-aside-dock .app-aside .navi > ul > li > a > svg {
        width: 56px;
    }
    .app-aside-dock .app-aside .navi li li a {
        padding:0 0 0 56px;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub:before {
        left: 27px;
    }
    .app-aside-dock .app-aside .navi li li a:before {
        left: 29px;
    }
}
@media (min-width: 1920px) {
    .app-aside-fixed .aside-wrap .navi-wrap > * {
        width: 280px!important;
    }
    .smart .app-aside-fixed .aside-wrap .navi-wrap {
        width: 280px!important;
    }
    .app-aside-fixed .aside-wrap, .app-aside-fixed .aside-wrap:hover {
        width: 280px!important;
        max-width: 280px!important;
    }
}
@media (max-width: 1199px) {
    #header > .container {
        width: 100%;
        padding: 0;
    }
    .table_cat_page .cat_top_form select,
    .table_cat_page .cat_top_form input {
        width: 115px;
    }
    .table_cat_page #filter_form .filter_form_span {
        padding-right: 10px;
        padding-left: 15px;
    }
}
@media (max-width: 991px) {
    .header_left_col, .header_right_col {
         width: auto;
    }
    .app-aside-dock .app-aside .navi > ul > li .nav-sub:before {
        left: 24px;
    }
    .app-aside-dock .app-aside .navi li li a:before {
        left: 26px;
    }
}