
.dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('../img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	border-radius:3px 3px 0 0;
}

.dropbox {
/*	background:url('../img/background_tile_3.jpg');   */
	background:#ccc;  
	border-radius:3px;
/*	position: relative; */
	margin:8px auto 9px auto;
	min-height: 90px; 
	overflow: hidden;
	padding-top: 10px;
  width: 100%;
  border:2px solid #fff;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}
#dropbox_first {
  background:#999!important;
}


.dropbox .message{
    text-align: center;
    padding-top:40px;
    display: block;
}

.dropbox .message i{
	color:#ccc;
	font-size: 30px;
}  



/*-------------------------
	Image Previews
--------------------------*/



.dropbox .preview{
	width:105px;
	float:left;
	margin: 5px;
	position: relative;
	text-align: center;
	cursor:move;
}

.dropbox .preview img{
	max-width: 100px;
	max-height:100px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

.dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

.dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

.dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



.dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

.dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.dropbox .preview.done .progress{
	width:100% !important;
}

.dropbox .delimg {
	display: block;
	position: absolute;
	top: 0;
	right: 1px;
	padding: 2px;
	width: 14px;
	height: 16px;
	cursor: pointer;
	background:#fff url('../img/del.png') no-repeat center;
}

.dropbox .editimg {
	display: block;
	position: absolute;
	top: 0;
	right: 14px;
	padding: 2px;
	width: 14px;
	height: 16px;
	cursor: pointer;
  	background:#fff url('../img/crop.png') no-repeat center;
}

.dropbox .delimg:hover, .dropbox .editimg:hover {
  opacity:0.8;
} 