/*
  $Id: print.css,v 1.3 2003 
  
  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Released under the GNU General Public License
*/

/* links */

a:hover { font: 400 13px 'Roboto', sans-serif; }

/* page */
body { background-color: #fff; color: #000000; margin: 0; font: 500 14px 'Roboto', sans-serif; }

html, body {
    height: 100%;
}
h1, h3, p, table, tfoot, th, td, tr, tbody {
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
svg {
    width: 15px;
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.delivery_note, .waybill {
    flex-direction: column;
    background-color: #eeee;
    display: flex;
    align-items: center;
    min-height: 100%;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 10px;
    padding: 10px 50px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
}
.top_bar .close_btn {
    display: flex;
    align-items: center;
    width: 124px;
    cursor: pointer;
}
.top_bar .print_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #eeeeee;
    text-align: center;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}
.top_bar .print_btn svg {
    padding-right: 7px;
}

.container {
    padding: 0 50px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eeeeee;
    background-color: #fff;
}

.head_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.head_logo .logo {
    width: 200px;
    margin-right: 45px;
}
.head_logo .logo_text {
    font-size: 30px;
    background-color: #1b302f;
    color: white;
    padding: 5px 10px;
    font-weight: 100;
    -webkit-print-color-adjust: exact;
}
.head_logo .logo_text span {
    font-size: 22px;
    display: block;
    padding: 5px 0;
}

.inform_box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.inform_box .box_item {
    width: 250px;
    height: auto;
    border-radius: 3px;
    border: solid 2px #f5f5f5;
    background-color: #ffffff;
}
.box_item .top_line {
    height: 20px;
    background-color: #f5f5f5;
    line-height: 20px;
    font-weight: 600;
    padding: 7px 9px;
}
.box_item .info {
    padding: 10px;
}
.box_item .info .email {
    padding: 5px 0;
    color: #858584;
}
.info .email strong {
    color: #333;
}
.box_item .info .address {
    padding-top: 5px;
}
.box_item .info span {
    color: #858584;
    letter-spacing: 1px;
}
.box_item .info .pay {
    padding: 5px 0;
}

.product_list {
    position: relative;
    height: auto;
    margin: 20px 0;
}
.product_list .top_line {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    height: 20px;
    padding: 10px;
    -webkit-print-color-adjust: exact;
}
.product_list .product_list-item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    line-height: 1.4;
    min-height: 40px;
}
.product_list .product_list-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 39px;
    left: 0;
    border: 1px solid #f5f5f5;
}
.product_list .product_list-item .item {
    width: 180px;
    text-align: left;
}
.product_list-item p {
    color: #858584;
}
.product_list-item:nth-last-of-type(2) {
    padding-bottom: 300px;
    page-break-inside: avoid;
}

.delivery_note .footer {
    position: absolute;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 90%;
    right: 0;
    bottom: 0;
}
.footer .getting {
    padding-bottom: 60px;
    width: 240px;
}
.footer .painting {
    color: #999999;
    border-top: 1px solid #9999;
    width: 260px;
    padding: 10px 0 20px 0;
}

.waybill .top_line span { width: 180px; }
.delivery_note .top_line span { width: 20%; }
.waybill .top_line.top_line_footer span {
    width: 20%;
}
.product_list .top_line span:first-of-type { text-align: left; }
.product_list .top_line.top_line_footer span:first-of-type {
    text-align: center;
}

.waybill .product_list-item span { width: 180px; }
.delivery_note .product_list-item span { width: 20%; }
.waybill .product_list-item.top_line_footer span {
    width: 20%;
}
.waybill .product_list-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 39px;
    left: 0;
    border: 1px solid #f5f5f5;
}
.waybill .product_list-item:nth-last-of-type(2) {
    padding-bottom: 500px;
    page-break-inside: avoid;
}
.waybill .score_box {
    margin-bottom: 70px;
    width: 260px;
    border-radius: 3px;
    border: solid 2px #f5f5f5;
}
.waybill .score-line {
    display: flex;
    justify-content: space-between;
    padding: 7px 9px;
    height: 29px;
    align-items: center;
}
.waybill .score-line:first-of-type { background-color: #f5f5f5; }

.waybill .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100%;
    padding: 30px 0;
}

@media print {
    .print {
        background-color: inherit;
    }
    .top_bar { display: none; }
    .container {
        margin-bottom: 0;
        border: none;
        box-shadow: none;
    }
    .waybill { background-color: inherit; }
    .top_bar { display: none; }
}

@page {
    size: auto;
    margin: 0;
}

.address_box, .tel_box {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.address_box__title,
.tel_box__title {
    width: 115px;
}

.address_box__body, .tel_box__body {
    margin-left: 15px;
}

.general_information {
    display: flex;
    margin-top: 20px;
}

.general_information_item {
    margin-bottom: 5px;
    display: flex;
}

.general_information_block {
    margin-right: 25px;
}

.invoice_number {
    width: 135px;
    margin-left: 5px;
}

.invoice_date {
    width: 100px;
}

.invoice_vat {
    width: 100px;
}

.general_value {
    margin-left: 10px;
}

.product_list-item.second_title {
    justify-content: center;
}

.top_line.top_line_footer {
    margin-top: 60px;
}

.product_list-item.top_line_footer {
    padding-bottom: 10px !important;
    margin-bottom: 30px;
}

.before_footer_item {
    margin-bottom: 5px;
}

.invoice_created {
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
}

.footer-line {
    background: #0090b5;
    border-color: #0090b5;
    color: #0090b5;
    height: 35px;
    -webkit-print-color-adjust: exact;
}

.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery_note .top_line span.number {
    width: 5%;
    text-align: center;
}

.waybill .top_line span.number {
    width: 5%;
    text-align: center;
}

.product_list .product_list-item .number {
    width: 5%;
    text-align: center;
}
.product_list .product_list-item .product-name {
    width: 40%;
}
.waybill .top_line span.product-name {
    width: 40%;
}
.delivery_note .top_line span.product-name {
    width: 40%;
}
.product_list .product_list-item .ref {
    width: 25%;
    overflow-wrap: anywhere;
}
.waybill .top_line span.ref {
    width: 25%;
}

.delivery_note .before_footer_box {
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}
.delivery_note .before_footer_box div {
    margin-bottom: 5px;
}
.delivery_note .before_footer_left {
    margin-right: 40px;
}
.delivery_note .for-agreement {
    margin-left: 19%;
}
.delivery_note .for-agreement div {
    margin-top: 15px;
}
.delivery_note .has-line {
    display: flex;
}
.delivery_note .write-line {
    display: block;
    border-bottom: solid 1px black;
    width: 20em;
    height: 16px;
}