.checkout_page .page-wrap {
    margin: 0;
    padding: 0;
}
.checkout_page main {
    border: none;
    padding: 0 0 45px 0;
}
.checkout_page #modal_ajax_modal_article .modal-content {
    max-height: 506px;
    overflow: auto;
    box-shadow: none;
    border: none;
}
.checkout_page #modal_ajax_modal_article .modal-content::-webkit-scrollbar {
    width: 5px;
    background: #fff;
}
.checkout_page #modal_ajax_modal_article .modal-content::-webkit-scrollbar-thumb {
    background: #ddd;
}

.checkout_page .logo {
    max-height: 150px;
    height: auto;
    width: 100%;
    justify-content: center;
    margin: 25px 0 50px;
}
.checkout_page .logo a {
    max-width: 150px;
    max-height: 150px;
}
.checkout_page .header_block {
    /*border: 1px solid #ccc;*/
    border: 2px solid var(--sm-grey-color);
    border-radius: 7px;
    text-align: center;
    padding: 10px 15px 9px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.checkout_page .h1 {
    text-align: center;
    margin: 0;
    padding: 6px 0 7px;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}
.checkout_page .btn_back {
    background: transparent;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    color: #1283e4;
    text-decoration: underline;
    flex-basis: 20%;
    text-align: left;
}
.checkout_page .left_actions {
    flex-basis: 20%;
    text-align: right;
}
.checkout_page .language_select,
.checkout_page .currency_select {
    margin: 0 10px 0 0;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);*/
    /*border: 1px solid #eee;*/
    position: relative;
    float: unset;
}
.checkout_page .currency_select,
.checkout_page .currency_select form {
    margin: 0;
}
.checkout_page .language-dropdown-button,
.checkout_page .currency_select form .selectize-control.single,
.checkout_page .currency_select form .selectize-control.single .selectize-input,
.checkout_page .currency_select form .selectize-control.single .selectize-input.input-active{
    height: auto;
    width: auto;
}
.checkout_page .language-dropdown-button {
    padding: 8px 10px 7px;
    font-size: 13px;
    font-weight: 700;
}
.checkout_page .language_select .dropdown-menu > li > a {
    padding: 3px 8px 3px 9px;
    font-weight: 700;
}
.checkout_page .currency_select form .selectize-input > input,
.checkout_page .currency_select form .selectize-control.single .selectize-input .item {
    padding: 8px 22px 7px;
    padding-left: 10px !important;
    font-weight: 700;
}
.checkout .currency_select .selectize-control.single .selectize-input:after,
.checkout .currency_select .selectize-control.single .selectize-input.dropdown-active:after {
    right: 10px;
}
.checkout_page .dropdown-menu-language,
.checkout_page .currency_select .selectize-dropdown {
    margin: -1px 0 0 -1px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    border: 1px solid #eee;
    border-top: none;
    text-align: left;
    width: calc(100% + 2px)!important;
}
.checkout_page .currency_select form .selectize-dropdown [data-selectable].option {
    font-weight: 700;
    padding: 5px 8px 5px 9px;
}


.checkout {
    width: 100%;
    margin: 0;
    /*background-color: var(--sm-background);*/
}
.checkout .form-control[disabled], .checkout .form-control[readonly], .checkout fieldset[disabled] .form-control {
    cursor: default;
    background-color: #fff;
    opacity: 1;
}
.checkout button {
    min-width: unset;
}
.checkout .table>tbody>tr>td,
.checkout .table>tbody>tr>th,
.checkout .table>tfoot>tr>td,
.checkout .table>tfoot>tr>th,
.checkout .table>thead>tr>td,
.checkout .table>thead>tr>th {
    border-top:0;
    padding: 3px 0;
}
.checkout .form-group {
    position: relative;
    margin: 5px 0;
}
.checkout .success_icon {
    position: absolute;
    right: 7px;
    top: 12px;
    font-size: 9px;
    max-width: 200px;
    text-align: right;
    z-index: 100;
}
.error_icon i {
    font-style: normal;
    padding: 4px 10px 5px;
    color: #5e4200;
    font-size: 13px;
    border-radius: 5px;
    background: #fff7cb;
    max-width: 240px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    user-select: none;
    border: 2px solid #ffec8e;
    /*transition: all .3s;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    display: none;
}
.checkout .user_block .form-group label:hover .error_icon i {
    /*opacity: 1;*/
    /*visibility: visible;*/
    display: block;
}
.error_icon i:before, .error_icon i:after {
    content: '';
    position: absolute;
    right: 9px;
    bottom: -11px;
    border: 5px solid transparent;
    border-top: 6px solid #ffec8e;
}
.error_icon i:after {
    border-top: 5px solid #ffec8e;
    bottom: -10px;
}
.checkout .required_icon svg {
    fill:#777;
    font-size: 7px;
}
.checkout .success_icon svg {
    fill:#54af28;
    font-size: 9px;
}
#modal_getLoginForm {
    overflow-y: hidden;
}
.checkout_title {
    position: relative;
    height: 38px;
    line-height: 38px;
}
.checkout_title a {
    outline: none !important;
    border-right: 0;
    box-shadow: none;
    margin: 0 10px 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    background: #EDEDED;
    font-weight: 700;
    font-family: Arial, 'Helvetica CY', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: var(--sm-text-color);
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    text-decoration: none;
}
.checkout_title a:hover, .checkout_title a:focus, .checkout_title a:active {
    background: #EDEDED;
}
.checkout_title .checkout_authorization {
    color: #fff;
    background: var(--sm-link-color);
    border: 0;
}
.checkout_title .checkout_authorization:hover, .checkout_title .checkout_authorization:focus, .checkout_title .checkout_authorization:active {
    background: var(--sm-btn-color);
    color: #fff;
}
.checkout_form h3 {
    width: 100%;
}
#billingAddress, #shippingAddress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.checkout_bottom .address_book_btn {
    flex-basis: 40%;
    width: 40%;
    height: 36px;
    padding: 0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #313132;
    line-height: 1;
    border: solid 1px #e2e2e2;
    margin: 0 0 20px;
}
.checkout_bottom .address_book_btn:hover,
.checkout_bottom .address_book_btn:focus {
    text-decoration: none;
}
.checkout_bottom hr {
    display: block;
    width: calc(100% + 40px);
    margin: 0 -20px 20px;
    border-top: 1px solid #ccc;
}
.form-group.shipping_company-block {
    flex-basis: 100%;
}

#email_error {
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: -5px;
}
.checkout_inputs input[type="select-one"] + .success_icon {
    display: none!important;
}
.fulllength {
    border: 1px solid #ccc;
}

/**/
#pageContentContainer .row {
    margin: 0 -10px;
}
#pageContentContainer .row > div {
    padding: 0 10px;
}
.collapse_wrapper {
    margin: 0 0 20px;
}
.collapse_wrapper,
.collapse_wrapper.error.open,
.collapse_wrapper.success_block.open {
    /*border: 1px solid #ccc;*/
    border: 2px solid var(--sm-grey-color);
    border-radius: 7px;
    background: #fff;
}
.collapse_wrapper.error {
    border: 2px solid rgba(243, 7, 39, 0.2);
}
.collapse_wrapper.success_block {
    border: 2px solid rgba(24, 191, 73, 0.2);
}
.user_block {
    border-top: none;
}
.checkout_bottom {
    padding: 20px 20px 0;
    background: #fff;
}
.user_header {
    padding: 0 20px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
.checkout .h3, .checkout h3,
.checkout .collapse_wrapper.error.open h3,
.checkout .collapse_wrapper.success_block.open h3 {
    padding: 20px;
    color: #41484e;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    background: #fff;
    margin: 0;
    border-bottom: none;
    position: relative;
}
#checkout_cart h3, .checkout .h3 {
    border-radius: 7px;
}
.checkout .h3,
.checkout .collapse_wrapper.error.open .h3,
.checkout .collapse_wrapper.success_block.open .h3 {
    background: #f9f9f9;
}

.checkout #billingAddress h3 {
    padding: 20px 0;
    background: transparent;
}
.checkout .collapse_wrapper.error .h3,
.checkout .collapse_wrapper.error h3 {
    background: #fff3f5;
}
.checkout .collapse_wrapper.error h3 {
    border-radius: 7px;
}
.checkout .collapse_wrapper.success_block .h3,
.checkout .collapse_wrapper.success_block h3 {
    background: #f4fcf6;
    border-radius: 7px;
}
#shippingMethods {
    border-radius: 7px;
}
.checkout .collapse_wrapper.error .h3:after,
.checkout .collapse_wrapper.error h3:after,
.checkout .collapse_wrapper.success_block .h3:after,
.checkout .collapse_wrapper.success_block h3:after {
    content:'';
    width: 19px;
    height: 19px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg role='img' width='19' height='19' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23f30727' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 10px;
    background-size: cover;
}
.checkout .collapse_wrapper.success_block .h3:after,
.checkout .collapse_wrapper.success_block h3:after {
    background-image: url("data:image/svg+xml,%3Csvg role='img' width='19' height='19' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2318bf49' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
}
.checkout .collapse_wrapper.error.open .h3:after,
.checkout .collapse_wrapper.error.open h3:after,
.checkout .collapse_wrapper.success_block.open .h3:after,
.checkout .collapse_wrapper.success_block.open h3:after {
    content: unset;
}
.checkout .h3 .num,
.checkout h3 .num,
.checkout .collapse_wrapper.error.open .h3 .num,
.checkout .collapse_wrapper.error.open h3 .num,
.checkout .collapse_wrapper.success_block.open .h3 .num,
.checkout .collapse_wrapper.success_block.open h3 .num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.07);
    margin-right: 20px;
    font-size: 18px;
    color: #41484e;
}
.checkout .collapse_wrapper.error .h3 .num,
.checkout .collapse_wrapper.error h3 .num {
    background: #f30727;
    color: #fff;
}
.checkout .collapse_wrapper.success_block .h3 .num,
.checkout .collapse_wrapper.success_block h3 .num {
    background: #18bf49;
    color: #fff;
}
.checkout .h3 .edit_block,
.checkout h3 .edit_block {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: calc(50% - 7px);
    font-size: 12px;
    font-weight: 400;
    color: #42484d;
    opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s;
}
.checkout .open .h3 .edit_block,
.checkout .open h3 .edit_block {
    display: none;
}
.checkout .h3 .edit_block svg,
.checkout h3 .edit_block svg {
    fill: #42484d;
    width: 15px;
    height: 15px;
}

.checkout h3 .cart_count {
    background: transparent;
    color: #9fa3a6;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 5px;
}
.collapse_wrapper .short_info {
    background: #f4fcf6;
    padding: 0 0 20px 70px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgb(66 72 77 / 70%);
}

.collapse_wrapper.error .short_info {
    background: #fff3f5;
}

.checkout input[type="checkbox"] + label,
.checkout input[type="radio"] + label {
    margin: 0 0 20px;
    font-size: 13px;
    font-weight: 700;
    color: #42484d;
    line-height: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user_header label[for=registration-off] {
    font-weight: 500!important;
}
.checkout input[type="checkbox"].diffShipping + label,
.checkout input[type="checkbox"]#registration-off + label {
    margin: 0;
}
.checkout input[type="checkbox"] + label:before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: none;
    border-radius: 3px;
    border: solid 2px #bbbbbb;
    background-color: #fafafa;
}
.checkout input[type="checkbox"]#diffShipping + label:before {
    background-color: #fff;
}
.checkout input[type="checkbox"]:checked + label:before,
.checkout input[type="checkbox"]#diffShipping:checked + label:before,
.checkout input[type="radio"]:checked + label:before {
    border: solid 2px #ffd400;
    background-color: #ffd400;
    background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2341484e' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-size: 10px;
}
.checkout_login_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -5px 20px;
}
.checkout_login_block a {
    flex-basis: 33%;
    width: 33%;
    height: 36px;
    margin: 0 5px;
    padding: 0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #313132;
    line-height: 1;
    border: solid 1px #e2e2e2;
    flex-grow: 1;
}
.checkout_login_block a.social_header_facebook {
    background: #485a96;
    color: #fff;
    border: solid 1px #485a96;
}
.checkout_login_block a:hover {
    text-decoration: none;
}
.checkout_login_block a svg {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 9px;
}
.checkout_login_block a.social_header_facebook {
    fill: #fff;
}
.checkout_login_block a span {
    font-weight: 700;
}
.checkout .form-group {
    flex-basis: 100%;
    width: 100%;
    margin: 0 0 20px;
}
.checkout .form-group.select_field {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
}
#email_error {
    font-size: 12px;
    display: block;
    text-align: right;
    margin: 0;
}
.checkout .user_block .form-group label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #9fa3a6;
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    position: relative;
}
.checkout .user_block .form-group > span:first-of-type {
    color: #9fa3a6;
    font-size: 13px;
    font-weight: 500;
    width: auto;
    margin-left: 0;
}
.checkout .form-control {
    height: 30px;
}
.checkout .user_block .checkout_inputs {
    width: 70%;
    margin-left: 20px;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);*/
    border: solid 1px #eee;
    background: #fff;
    color: #41484e;
    padding: 6px 8px;
    font-size: 13px;
    float: right;
}
.checkout .user_block select[name='shipping_zone_id'] + .checkout_inputs,
.checkout .user_block span > .checkout_inputs  {
    width: 100%;
    margin-left: 0;
    float: unset;
}
.checkout .user_block .form-group > span,
.checkout .user_block .form-group .shipping_zone_select {
    width: 70%;
    margin-left: 20px;
    float: right;
}
.checkout .user_block .checkout_inputs.selectize-control {
    padding: 0;
}
.checkout .user_block .checkout_inputs.selectize-control .selectize-input {
    padding: 6px 8px;
}
.checkout .user_block .checkout_inputs.selectize-dropdown {
    margin: 0;
    border-radius: 0;
}
.checkout_inputs .selectize-input,
.checkout_inputs.selectize-control.single .selectize-input.input-active {
    background: transparent;
}
.checkout_inputs.selectize-control,
.checkout_inputs.selectize-control.single .selectize-input {
    height: 30px;
}
.checkout_inputs.selectize-control.single .selectize-input.input-active:before {
    content: unset;
}
.checkout_inputs .selectize-input > input,
.checkout_inputs.selectize-control.single .selectize-input .item {
    padding-left: 0!important;
}

input::-webkit-input-placeholder {
    color: #9fa3a6;
    font-size: 13px;
}
input::-moz-placeholder {
    color: #9fa3a6;
    font-size: 13px;
}
input:-ms-input-placeholder {
    color: #9fa3a6;
    font-size: 13px;
}
input:-moz-placeholder {
    color: #9fa3a6;
    font-size: 13px;
}

.checkout .checkout_inputs:focus ~.error_icon {
    display: none!important;
}
.error_icon {
    position: absolute;
    z-index: 101;
    right: 0;
    bottom: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.error_icon svg {
    width: 12px;
    height: 12px;
    font-size: 11px;
    fill: #f30727;
    margin: 6px 10px 0 0;
}


.shippingMethods h3,
.paymentMethods h3,
#checkout_cart h3 {
    background: #fff;
}
.shipping_payment_block {
    /*padding: 5px 20px 0;*/
    padding: 5px 0 0;
    border-top: none;
}
.checkout .shipping_payment_block .form-group {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.14;
    font-weight: 700;
}
.checkout .shipping_payment_block .shippingRow .form-group {
    color: #9fa3a6;
    padding: 12px 0;
}
#pageContentContainer .row.shippingRow {
    margin: 0 20px;
    border-bottom: 1px solid #eee;
}
#pageContentContainer .row.paymentRow,
#pageContentContainer .row.paymentRow .row.item {
    margin: 0;
}
#pageContentContainer .row.paymentRow .row.item > .col-xs-12 {
    padding: 0;
}
#pageContentContainer .moduleRow:hover, #pageContentContainer .moduleRowSelected {
    background: transparent;
}
/*#pageContentContainer .shipping_payment_block .row.shippingRow:last-of-type,*/
/*#pageContentContainer .shipping_payment_block .row.paymentRow:last-of-type {*/
/*  border: 0;*/
/*}*/
#pageContentContainer .row.shippingRow > div {
    padding: 0;
}
.checkout input[type="radio"] + label {
    font-weight: 700;
    padding: 12px 0;
    margin: 0;
}
.checkout .shippingRow input[type="radio"] + label {
    padding: 0;
    flex-wrap: wrap;
}
.checkout .paymentRow input[type="radio"] + label {
    margin: 0 20px;
    border-bottom: 1px solid #eee;
    padding-left: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout input[type="radio"] + label:before {
    background-image: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px #bbb;
    background-color: #fafafa;
    margin: 0 10px 0 0;
}
.checkout .paymentRow input[type="radio"] + label:before {
    position: absolute;
    left: 20px;
}
.checkout .paymentRow input[type="radio"] + label img {
    width: 28px;
    height: 20px;
    margin-left: 6px;
}
.new_payment_form .payment-errors {
    margin: 10px 0 0;
    display: block;
    color: #f30727;
}

#checkout_cart {
    /*border: 1px solid #ccc;*/
    border: 2px solid var(--sm-grey-color);
    border-radius: 7px 7px 0 0;
    border-bottom: none;
    position: relative;
    background: #fff;
}
.checkout #checkout_cart h3 {
    border: none;
}
.checkout_cart_block {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px;
}
.checkout_cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}
.checkout_cart_item img {
    max-width: 40px;
    margin: 0 20px 0 0;
}
.cart_item_info {
    width: calc(100% - 95px);
    padding-right: 20px;
}
.cart_prod_name {
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.38;
    color: #42484d;
    margin: 0 0 5px;
    transition: all .3s;
}
.cart_prod_name:hover {
    color: var(--sm-link-color);
    text-decoration: none;
}
.cart_calc_cost {
    color: #9fa3a6;
    font-size: 13px;
}
.cart_calc_cost input[type="number"] {
    margin: 0;
    padding: 1px 0 1px 12px;
    border-radius: 2px;
    background: #eee;
    font-size: 13px;
    font-weight: 700;
    color: #42484d;
    text-align: center;
    width: 42px;
    border: none;
    transition: all .3s;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -ms-progress-appearance: unset;
}
.cart_calc_cost input[type="number"]:hover,
.cart_calc_cost input[type="number"]:focus {
    width: 55px;
    padding: 1px 0;
}
.checkout_cart_item .delete {
    appearance: unset;
    -ms-progress-appearance: unset;
    -webkit-appearance: unset;
    -moz-appearance: unset;
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
}
.checkout_cart_item .delete svg {
    fill: #d9dadb;
    width: 16px;
    height: 18px;
    transition: all .3s;
}
.checkout_cart_item .delete:hover svg,
.checkout_cart_item .delete:focus svg {
    fill: #f30727;
}
.checkout_cart_block .warning_mess {
    color: #42484d;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 15px;
}

.checkout .coupon_block input[type="checkbox"] + label,
.newsletter {
    padding: 0 20px 20px;
    margin: 0;
}
.checkout .newsletter input[type="checkbox"] + label {
    margin: 0;
}
.checkout .coupon_block {
    border-bottom: 1px solid #eee;
}
.coupon_block .set_coupon {
    background: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #eee;
    display: none;
}
.coupon_block .set_coupon.show_set_coupon {
    display: block;
}
.checkout .coupon_block .apply_btn,
.checkout .proceed_btn {
    max-width: 110px;
    background: #1283e4;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 0 10px;
    padding: 7px 15px 8px!important;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
    text-align: center;
    line-height: 1.3;
    cursor: pointer;
}
.checkout .coupon_block .apply_btn {
    max-width: 25%;
    width: 100%;
    float: right;
}
.checkout .proceed_btn {
    margin: 20px 20px 20px auto;
    display: block;
}
.checkout .checkout_bottom .proceed_btn {
    margin: 20px 0 20px auto;
}
.checkout .coupon_block .apply_btn:hover {
    text-decoration: none;
}
.checkout .coupon_block .coupon_input {
    padding: 8px 10px 7px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eee;
    background: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #42484d;
    /*width: calc(100% - 120px);*/
    width: 72%;
}
input.coupon_input::-webkit-input-placeholder {
    color: #b5babe;
}
input.coupon_input::-moz-placeholder {
    color: #b5babe;
}
input.coupon_input:-ms-input-placeholder {
    color: #b5babe;
}
input.coupon_input:-moz-placeholder {
    color: #b5babe;
}
.checkout .coupon_block .valid_coupon {
    padding: 7px 10px 6px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(24, 191, 73, 0.1);
    border: 2px solid rgba(24, 191, 73, 0.2);
    background: rgba(24, 191, 73, 0.05);
    color: #41484e;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}
.checkout .coupon_block .valid_coupon span {
    color: #18bf49;
}
#ajaxLoadingSpinner, #ajaxMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
}
#ajaxMessages {
    margin: 32px 0 0;
    background: transparent;
    font-weight: 700;
}
.orderTotals {
    padding: 20px 20px 10px;
    /*border: 1px solid #ccc;*/
    border: 2px solid var(--sm-grey-color);
    border-top: none;
    border-bottom: none;
    background: #fff;
}
.orderTotals table tr td {
    color: #42484d;
    font-size: 13px;
    font-weight: 400;
    padding: 0 0 10px!important;
}
.orderTotals table tr.ot_subtotal td {
    font-weight: 700;
}
.orderTotals table tr.ot_coupon td:last-of-type,
.orderTotals table tr.ot_lev_discount td:last-of-type,
.orderTotals table tr.ot_shipping td:last-of-type {
    color: #18bf49;
    font-weight: 700;
}
.orderTotals table tr:last-of-type td {
    padding: 30px 0 0!important;
    font-weight: 700;
}
.orderTotals table tr td:last-of-type {
    text-align: right!important;
}
.orderTotals table tr:last-of-type td:last-of-type {
    font-size: 18px;
}
.checkout_btn_block {
    /*border: 1px solid #ccc;*/
    border: 2px solid var(--sm-grey-color);
    border-top: none;
    border-radius: 0 0 7px 7px;
    padding: 0 20px 20px;
    background: #fff;
}
#checkoutButtonContainer #checkoutButton,
#checkoutButtonContainer #sub_butt {
    width: 100%;
    padding: 8px 0;
    border-radius: 3px;
    background: #18bf49;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    transition: all .3s;
    position: relative;
    margin: 0 0 10px;
}
#checkoutButtonContainer #checkoutButton:hover,
#checkoutButtonContainer #sub_butt:hover{
    background: #159a3c;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
}
#checkoutButtonContainer #checkoutButton:focus {
    background: #159a3c;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
}
#checkoutButtonContainer #checkoutButton svg,
#checkoutButtonContainer #sub_butt svg {
    fill: #fff;
    font-size: 12px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#pageContentContainer .row.paymentRow > div {
    padding: 0;
}

.checkout_btn_block .terms_of_use {
    color: #b5babe;
    font-size: 13px;
}
.checkout_btn_block .terms_of_use span {
    text-decoration: underline;
    display: block;
    text-align: center;
    color: #b5babe;
    cursor: pointer;
}

#paymentMethods .col-xs-12 {
    min-height: 0;
}
.new_payment_form {
    /*margin: -2px -20px;*/
    margin: -2px 0;
}
#payment-form {
    padding: 20px;
    background: #f8f9fa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: 13px;
}
#payment-form label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 0 0;
    color: #9fa3a6;
    font-size: 13px;
    line-height: normal;
}
#payment-form label.number_field {
    width: calc(40% - 10px);
}
#payment-form label.cvc_field {
    margin-right: 0;
}
#payment-form label.month_field,
#payment-form label.year_field {
    width: calc(20% - 10px);
}
#payment-form label.cvc_field {
    width: calc(20% - 12px);
}
#payment-form label.date_field span input.form-control {
    height: 15px;
    padding: 0;
    line-height: unset;
    /* background: transparent; */
    width: 14px;
}
#payment-form label > input.form-control {
    margin-top: 5px;
    padding: 8px 8px 7px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eee;
    background-color: #fff;
    font-size: 13px;
    color: #000;
}
#shippingMethods .checkout_error {
    border: none;
    padding: 12px 0 12px 26px;
    margin: 0 20px;
    border-bottom: 1px solid #eee;
    color:#9fa3a6;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
#shippingMethods .checkout_error span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px #bbb;
    background-color: #fafafa;
    margin: 0 10px 0 0;
    opacity: 0.3;
    display: inline-block;
    position: absolute;
    left: 0;
}
#shippingMethods .shippingRow input[type="radio"] + label .usps_desc {
    width: 100%;
    display: block;
    padding: 2px 0 0 26px;
    color: #9fa3a6;
}
@media (max-width: 1199px) {
    .checkout_page .h1 {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .checkout_page #modal_ajax_modal_article .modal-dialog {
        width: calc(100% - 20px);
        transform: translate(0, -70%)!important;
        left: 0!important;
    }
    .checkout {
        margin: 0;
    }
    .checkout_page .logo {
        margin: 20px 0;
    }
    .checkout_page .header_block {
        flex-wrap: wrap;
    }
    .checkout_page .h1 {
        font-size: 16px;
        flex-basis: 100%;
        width: 100%;
        order: 1;
        margin: 0 0 5px;
    }
    .checkout_page .btn_back {
        order: 2;
        flex-basis: unset;
    }
    .checkout_page .left_actions {
        order: 3;
        flex-basis: unset;
    }
    .checkout .h3, .checkout h3,
    .checkout .collapse_wrapper.error.open h3,
    .checkout .collapse_wrapper.success_block.open h3,
    .coupon_block .set_coupon {
        padding: 15px;
    }
    .checkout .h3 .num, .checkout h3 .num,
    .checkout .collapse_wrapper.error.open .h3 .num,
    .checkout .collapse_wrapper.error.open h3 .num,
    .checkout .collapse_wrapper.success_block.open .h3 .num,
    .checkout .collapse_wrapper.success_block.open h3 .num {
        margin-right: 15px;
    }
    .collapse_wrapper .short_info {
        padding: 0 0 15px 60px;
    }
    .checkout_login_block {
        display: block;
        margin: 0 0 15px;
    }
    .checkout_login_block a {
        flex-basis: 100%;
        width: 100%;
        margin: 0 0 10px;
    }
    .checkout_login_block a:last-of-type {
        margin: 0;
    }
    .checkout_bottom .address_book_btn {
        margin: 0 0 15px;
        flex-basis: 100%;
        width: 100%;
    }
    .checkout_bottom hr {
        margin: 0 -15px 20px;
    }
    .user_header,
    .checkout_btn_block {
        padding: 0 15px 15px;
    }
    .checkout_bottom {
        padding: 15px 15px 0;
        background: #fff;
    }
    .checkout_cart_block,
    .checkout .coupon_block input[type="checkbox"] + label,
    .newsletter {
        padding: 0 15px;
        margin: 0 0 15px;
    }
    .cart_calc_cost input[type="number"],
    .cart_calc_cost input[type="number"]:hover,
    .cart_calc_cost input[type="number"]:focus {
        padding: 1px 0;
        width: 25px;
    }
    .orderTotals {
        padding: 15px 15px 10px;
    }
    .checkout .proceed_btn {
        margin: 15px 15px 15px auto;
    }
    #pageContentContainer .row.shippingRow,
    .checkout .paymentRow input[type="radio"] + label,
    #shippingMethods .checkout_error {
        margin: 0 15px;
    }
    .checkout .form-group {
        margin: 0 0 15px;
    }
    .checkout .user_block .checkout_inputs,
    .checkout .user_block .form-group > span:first-of-type {
        width: 100%;
        margin-left: 0;
        font-weight: 400;
    }
    .error_icon {
        top: 4px;
        bottom: unset;
    }

    #payment-form {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 15px 5px;
    }
    #payment-form label {
        margin: 0 5px 10px 0;
    }
    #payment-form label.number_field {
        order: 1;
        width: calc(75% - 5px);
    }
    #payment-form label.cvc_field {
        order: 2;
        width: 25%;
    }
    #payment-form label.month_field,
    #payment-form label.year_field {
        width: calc(50% - 3px);
        order: 3;
    }
    #payment-form label.year_field {
        margin: 0;
    }
    .checkout .paymentRow input[type="radio"] + label img {
        display: none;
    }
    .mob_short_cart {
        height: 50px;
        /*line-height: 30px;*/
        padding: 10px 15px;
        background: #222;
        color: #fff;
        position: fixed;
        z-index: 101;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
    }
    .mob_short_cart span {
        font-size: 20px;
        line-height: 33px;
    }
    .mob_short_cart .checkout_scroll {
        background: #18bf49;
        color: #fff;
        font-size: 13px;
        line-height: normal;
        padding: 8px 15px;
        border-radius: 5px;
        cursor:pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #checkout_user .error_icon i {
        font-style: normal;
        border: none;
        max-width: inherit;
        margin: 0px 2px;
        padding: 0 10px;
        color: #5e4200;
        font-size: 12px;
        background: rgb(254, 242, 244);
        font-weight: 400;
        line-height: 1;
        position: unset;
        user-select: none;
        display: block;
        min-height: 20px;
    }
    .error_icon i:before, .error_icon i:after {
        content: none!important;
    }
    .error_icon svg {
        display: none;
    }
    #shippingAddress #email_error {
        display: none;
    }
}
